.app{
  width: 100%;
  flex-flow: wrap;
}
.app-kitchen{
  display: flex;
  min-height: 200px;
  background: rgba(238, 230, 230, 0.7);
  flex-direction: row;
}
#root{
  display: flex;
  min-height: 768px;
}
.root{
  display: flex;
  margin: 5px;
  width: 100%;
}
.root-kitchen{
    flex-direction: column;
    width: 100%;
    flex-flow: wrap;

}
.burger-queen{
    color:#ffffff;
    text-align: center;
}
.order-list{
  display: flex;
  width: 100%;
}
.order-done{
  display: flex;
  flex-wrap: wrap;

}
.div-list{
  list-style: none;
}
.nav-wrapper{
  width: 100%;
}

.nav-link{
  text-decoration: none;
  color: #ffffff;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.nav{
  background: #D95525;
  padding: 10px;

}
.h2{   
  padding: 5px;
  text-align: center;
  border-color: black ;
  }
.order-div{
  flex-direction: column;
  background-color: #ffffff;
  margin: 5px;
  display: flex;
  border-radius: 5px;
  box-shadow: 4px 4px 5px 0px rgba(179,179,179,0.7);
  align-items: center;
  min-width: 260px;
  min-height: 250px;
  max-width: 260px;
  justify-content: space-around;
}
.list {
  background: rgba(238, 230, 230, 0.7);
  padding: 5px;
  text-align: center;
  width: 100%;

}.container-login{

    display: flex;
    align-items: center;
    margin: 10%;
}
  .input-border{
    border-radius: 5px;
    border: none;
    padding: 10px;
    border: 1px solid gray;
  }
  .section {
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  .section-cafe{
    display: flex;
    flex: auto;
    flex-direction: column;
  }
  .order-itens{
    display: flex;
    flex-direction: column;
  }
  .remove-btn{
    border: none;
    padding: 3px 5px 3px 5px;
    background-color: #d99f7e00;
    color:#D95525;
  }
  .btn-enviar{
    padding: 5px;
    box-shadow: 4px 4px 5px 0px rgba(179,179,179,0.7);
    background: #D95525;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-size: larger;

  }

  .menu-item {
    width: 100%;
  }
  .resume-item{
    background-color: #ffffff;
    padding: 15px 5px 0px 0px;
    margin: 5px;
    display: flex;
    border-radius: 5px;
    box-shadow: 4px 4px 5px 0px rgba(179,179,179,0.7);
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .text {
    color: #011826;
    font-size: 1.3em;
    text-align: center;
    margin:0;
    padding: 5px;
  }
  .client-text{
    color:#D99F7E;
  }
  .btn-cozinha{
    background-color: #D99F7E;
  }
  
  .menu-name {
    background-color:white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    display:flex;
  }
  
  .menu-text{
    padding: 0px 0px 15px 10px;
  }
  .order-kitchen{
    padding: 0px 0px 0px 5px;
  }
  .btn-cozinha{
    background-color: #ffffff;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px 0px rgba(179,179,179,0.7);
   

  }
  .time{
    text-align-last: unset;
    padding: 20px;
    margin: 5px;
    border-style: dashed;
  }

  
  .container-main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 37px;
    }

  .main-container{
    flex-direction: row;
    margin-top: 100px;
  }
  .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
