
.list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  display: flex;
}
.section {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.menu-price {
  display: flex;
  justify-content: center;
  padding-left: 20px;
}

  
.menu-item {
  background-color: #ffffff;
  padding: 12px 0px;
  margin: 5px;
  width: 100%;
  display: flex;
  border-radius: 5px;
  box-shadow: 4px 4px 5px 0px rgba(179,179,179,0.7);
  flex-direction:column;
}

.text {
  color: #D99F7E;
  font-size: 1.3em;
}
.btn-cozinha{
  background-color: #D99F7E;
}

.menu-name {
  background-color:white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  display:flex;
  justify-content: space-between;
  padding: 15px 10px 11px 11px;
}


